

body{
    font-family: Roboto;
}

.section-one,
.footer{
    background-color: #1F2937;
}

.section-one h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section-one p,
.section-one a{
    font-size: 18px;
    color: #E5E7EB;
}

.section-one p{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    color: #3882F6;
}

.section-two h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-self: center;
}

.downtown-img{
    display: flex;
    justify-content: space-evenly;
}

.downtown-text{
    display: flex;
    justify-content: space-evenly;
}

.section-three{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.header{
    display: flex;
}

.links{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero img{
    display: flex;
    margin-left: auto;
}

.section-three{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.quote{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 90px;
    padding-left: 545px;
    padding-right: 545px;
}

.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  cursor: default;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}